%section#riverside_living.requirements
  .container
    .row
      .col-lg-12.text-center
        %h2 Riverside Living
        .content.lead.text-left
          .col-lg-6.text-center
            = image_tag 'riverside_living1.jpg', style: "vertical-align: top;", align:"left"
            Updated and spacious accomodations (1/1)
          .col-lg-6.text-center
            = image_tag 'riverside_living2.png', style: "vertical-align: top;", align:"left"
            Waterfront living with nearby activities
          .col-lg-6.text-center
            = image_tag 'riverside_living3.jpg', style: "vertical-align: top;", align:"left"
            Open floor plans (2/1)
          .col-lg-6.text-center
            = image_tag 'riverside_living4.jpg', style: "vertical-align: top;", align:"left"
            Clean and fully furnished units
          .col-lg-3.text-center
            = image_tag 'riverside_living5.jpg', style: "vertical-align: top;", align:"left"
          .col-lg-3.text-center
            = image_tag 'riverside_living6.jpg', style: "vertical-align: top;", align:"left"
          .col-lg-3.text-center
            = image_tag 'riverside_living7.jpg', style: "vertical-align: top;", align:"left"
          .col-lg-3.text-center
            = image_tag 'riverside_living8.png', style: "vertical-align: top;", align:"left"
